body
{
	margin: 0;
	padding: 0;
	background: url(img/bg.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 470px;
	padding: 50px 20px;
	box-sizing: border-box;
	background: rgba(56, 56, 56, 0.8);
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: rgb(187, 190, 187);
	text-align: center;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"],
.loginBox input[type="email"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: rgb(147, 34, 56);
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: rgb(136, 127, 100);
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}


#blad
{
 width: 100%;
 margin-right: auto;
 margin-left: -15px;
 margin-top: 5px;
 padding: 30px;
 font-size: 20px;
 font-family: "Microsoft Sans Serif";
 text-shadow: 1px 0 1px red;
 color: rgb(255, 0, 38)

}


.btn {
	width: 100%;
	margin-bottom: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: rgb(147, 34, 56);
	cursor: pointer;
	border-radius: 20px;
}
.btn:hover
{
	background: rgb(136, 127, 100);
	color: #262626;
}
